{% extends "@SAMCommon/Layout/_one_column_layout.html.twig" %}

{% block meta_title %}Audit | {{ site_name }}{% endblock %}

{% block page_title %}Audit{% endblock %}

{% block page_content %}
    <h1>Audits ({{ audited|length }} entities)</h1>

    <table class="table">
        <thead>
            <th>Class</th>
            <th>Table</th>
        </thead>
        <tbody>
        {% for entity, table in audited %}
            <tr>
                <td>{{ entity|escape }}</td>
                <td>
                    <a href="{{ path('dh_doctrine_audit_show_entity_history', { 'entity': entity }) }}">{{ table }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock page_content %}